@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 90%;
  /*font-weight: 300;*/
  font-weight: 400;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#content {
  position: relative;
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 8px;
  margin: auto;
  margin-top: 160px;
  max-width: 650px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


h2 {
  font-size: 2.0rem;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1.65rem;
  font-weight: 300;
  color: #6D6D6D;
  margin-top: 20px;
  margin-bottom: 3px;
  padding: 0;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}


li {
  padding: 0;
  margin: 0;
  padding-bottom: 13px;
  /*line-height: 1.4rem;*/
  line-height: 1.6rem;
  font-weight: 400;
  font-size: 1.05rem;

}

p {
  margin: 0;
  padding: 0;
  color: #6D6D6D;
}

a {
  text-decoration: None;
  background-color: #EAFAFE;
  color: #1A1A1A;
  font-weight: 400;
  border-bottom: 1px solid #BBC8CB;
  display:inline;
  height: 1.2rem;
}

a:hover {
  background-color: #BBEFFD;
  color: #1A1A1A;
  border-bottom: 1px solid #1A1A1A;
}


h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 3.0rem;
  color: #999;
  padding-bottom:0px;
  margin-bottom:15px;
}

.quick_info {
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 1.3rem;
}

.quick_info a {
  height: 1.7rem;
}

.short_description {
    line-height: 2.2rem;
}

.title {
  font-weight: 600;
}

#sharedwork a {
  font-weight: 600;
}

#teachinglist1, #teachinglist2, #teachinglist3 {
  padding: 0;
  padding-left: 20px;
  padding-bottom: 5px;
  list-style-type: circle;

}


#teachinglist1 li, #teachinglist2 li, #teachinglist3 li {
  color: #6D6D6D;
  padding: 0;
  padding-top: 3px;
}

.research li {
  padding-top: 0px;
  padding-bottom: 10px;
}


#control-me {
  display: none;
}


img {
  float: right;
  margin-top: -50px;
}

button { 
  padding:0;
  margin-left:0px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: none; 
  display: inline-block;
  cursor: pointer;
  font-size: 2.0rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #EAFAFE;
  color: #1A1A1A;
  border-bottom: 1px solid #BBC8CB;
  height: 2.2rem;
}


button:hover {
  background-color: #BBEFFD;
  color: #1A1A1A;
  border-bottom: 1px solid #1A1A1A;
}

